.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.cabecera{
    display: flex;
    gap: 30px;
}
.cabecera__titulo {
    font-size: 32px;
}
.formulario {
    text-align: center;
}